<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Energía Solar Ventas</title>
    <link rel="stylesheet" href="./calculadora_solar.css">
    <!-- Carga html2pdf.js directamente como un script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <!-- Código del formulario -->
    <div class="contenedor-flex">
      <!-- Formulario de entrada de datos del cliente -->
      <div class="bloque" id="formulario_solar">
        <form id="datos_clientes">
          <section class="titulos_form_1">
            <div class='logo_ferragro'>
              <a href='https://www.ferragro.com' target="_blank">
                <img src='https://cdn.shopify.com/s/files/1/0654/2875/0531/files/Logo_Ferragro.png?v=1729890163' alt='Logo Ferragro' width='200px' height='50px'>
              </a>
            </div>
            <div>
              <h2>Crea una cotización en 3 pasos de un proyecto de Energía Solar</h2>
              <h3>Paso 1 de 3</h3>
              <p>Escribe los datos del cliente y los tuyos:</p>
            </div>
          </section>
          <div>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellidos:" required>
          </div>
          <div>
            <input type="number" name="contacto" id="contacto" placeholder="Número de contacto" required>
          </div>
          <div>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
          </div>
          <div>
            <input type="email" name="vendedor" id="vendedor" placeholder="Correo electrónico vendedor" required>
          </div>
          <button type="submit">Enviar</button>
        </form>
      </div>
  
      <!-- Formulario de entrada para la información solar -->
      <div class="bloque" id="formulario_solar">
        <div class='logo_ferragro'>
          <a href='https://www.ferragro.com' target="_blank">
            <img src='https://cdn.shopify.com/s/files/1/0654/2875/0531/files/Logo_Ferragro.png?v=1729890163' alt='Logo Ferragro' width='200px' height='50px'>
          </a>
        </div>
        <form id="info_solar">
          <h2>Datos necesarios del lugar del proyecto:</h2>
          <h3>Paso 2 de 3</h3>
          <div>
            <select id="zona" name="zona" required>
              <option value="">Seleccione una zona</option>
              <option value="Región Andina">Región Andina (Bogotá, Medellín, Cali entre otras.)</option>
              <option value="Costa Caribe">Costa Caribe (Barranquilla, Cartagena, Santa Marta entre otras.)</option>
              <option value="Región Pacífica">Región Pacífica (Buenaventura, Quibdó, Tumaco entre otras.)</option>
              <option value="Llanos Orientales">Llanos Orientales (Villavicencio, Yopal, Arauca entre otras.)</option>
              <option value="Amazonía">Amazonía (Leticia, Florencia, Mocoa entre otras.)</option>
              <option value="Desierto de la Guajira">Guajira (Riohacha, Maicao, Uribia entre otras)</option>
            </select>
          </div>
          <label for="consumo">Consumo promedio de energía (kWh/mes):</label>
          <input type="number" name="consumo" id="consumo" required>
          <label for="costo_energia">Costo de energía (COP por kWh):</label>
          <input type="number" name="costo_energia" id="costo_energia" required>
          <label for="area">Área disponible (m²):</label>
          <input type="number" name="area" id="area" required>
          <button type="submit">Calcular</button>
        </form>
      </div>
    </div>
  
    <!-- Resultado -->
    <div id="resultado" class="bloque_resultado">
      <div class='logo_ferragro'>
        <a href='https://www.ferragro.com' target="_blank">
          <img src='https://cdn.shopify.com/s/files/1/0654/2875/0531/files/Logo_Ferragro.png?v=1729890163' alt='Logo Ferragro' width='200px' height='50px'>
        </a>
      </div>
      <h2 style="text-align: center; margin-bottom: 20px;">
        EQUIPOS DE ENERGÍA SOLAR NECESARIOS QUE ENCUENTRAS EN FERRAGRO:
      </h2>
      <p id="mensaje-resultado"></p>
    </div>
  
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const primerFormulario = document.getElementById('datos_clientes');
        const segundoFormulario = document.getElementById('info_solar');
        const segundoFormularioDiv = document.getElementById('formulario_solar');
        const resultadoDiv = document.getElementById('resultado');
        const mensajeResultado = document.getElementById('mensaje-resultado');
  
        // Mostrar el segundo formulario al enviar el primero
        primerFormulario.addEventListener('submit', function(event) {
          event.preventDefault();
          segundoFormularioDiv.style.display = 'block';
        });
  
        // Calcular el número de paneles al enviar el segundo formulario
        segundoFormulario.addEventListener('submit', function(event) {
          event.preventDefault();
  
          // Validar y obtener los valores ingresados por el usuario
          const zona = document.getElementById('zona').value;
          const consumo = parseFloat(document.getElementById('consumo').value);
          const area = parseFloat(document.getElementById('area').value);
          const costo = parseFloat(document.getElementById('costo_energia').value);
  
          // Verifica que todos los campos necesarios tengan valores válidos
          if (!zona || isNaN(consumo) || isNaN(area) || isNaN(costo)) {
            alert("Por favor complete todos los campos correctamente.");
            return;
          }
  
          // Calculos de energía y número de paneles
          const radiacionAnualPorZona = {
            "Costa Caribe": 1643,
            "Región Andina": 1460,
            "Región Pacífica": 1278,
            "Llanos Orientales": 1643,
            "Amazonía": 1278,
            "Desierto de la Guajira": 2190
          };
          
          document.addEventListener('DOMContentLoaded', function () {
      // Selecciona el botón de descarga de PDF
      const descargarPDFBtn = document.getElementById('descargar-pdf');
  
      // Agrega un evento de clic al botón de descarga
      descargarPDFBtn.addEventListener('click', function () {
          // Selecciona el div que contiene el contenido a descargar en PDF
          const resultadoTabla = document.getElementById('resultado');
  
          if (resultadoTabla) {
              // Configuración de html2pdf para generar el PDF
              const opciones = {
                  margin: 1,
                  filename: 'Resultado_Energia_Solar.pdf',
                  image: { type: 'jpeg', quality: 0.98 },
                  html2canvas: { scale: 2 },
                  jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
              };
  
              // Genera el PDF a partir del contenido del div
              html2pdf().set(opciones).from(resultadoTabla).save();
          } else {
              alert("No se encontró el contenido del resultado para descargar.");
          }
      });
  });
            
        const potenciaPanel_400 = 0.400; // 400W en kW
        const potenciaPanel_585 = 0.585; // 585W en kW
        const potenciaPanel_605 = 0.605; // 605W en kW
        const areaPanel = 1.13; // Área del panel en m²
  
        const radiacionAnual = radiacionAnualPorZona[zona];
        const energiaGeneradaPorPanel_400 = radiacionAnual * potenciaPanel_400;
        const energiaGeneradaPorPanel_585 = radiacionAnual * potenciaPanel_585;
        const energiaGeneradaPorPanel_605 = radiacionAnual * potenciaPanel_605;
        const consumoAnual = consumo * 12;
  
        const ahorroAnual =  consumoAnual*costo
        const ahorroAnualFormateado = ahorroAnual.toLocaleString('es-CO', { style: 'currency', currency: 'COP' });
  
        
        // CALCULO DE PÁNELES
        const numeroPaneles_400 = Math.ceil(consumoAnual / energiaGeneradaPorPanel_400);
        const numeroPaneles_585 = Math.ceil(consumoAnual / energiaGeneradaPorPanel_585);
        const numeroPaneles_605 = Math.ceil(consumoAnual / energiaGeneradaPorPanel_605);
  
        // COSTO DEL PROYECTO
        const costoProyecto = 375320 * numeroPaneles_400;
        const costoProyectoFormateado = costoProyecto.toLocaleString('es-CO', { style: 'currency', currency: 'COP' });
        const disminucionRenta = (costoProyecto / 2).toLocaleString('es-CO', { style: 'currency', currency: 'COP' });
        const ahorroMensual = (ahorroAnual / 12).toLocaleString('es-CO', { style: 'currency', currency: 'COP' });
  
        //AREA DISPONIBLE
        const areaRequerida_400 = Math.ceil(numeroPaneles_400 * 1.13);
        const areaRequerida_585 = Math.ceil(numeroPaneles_585 * 1.13);
        const areaRequerida_605 = Math.ceil(numeroPaneles_605 * 1.13);
  
        // CALCULO DE INVERSORES
        const numeroInversores_3500 = Math.ceil((numeroPaneles_400* 400)/3500);
        const numeroInversores_6000 = Math.ceil((numeroPaneles_585* 585)/6000);
        const numeroInversores_12000 = Math.ceil((numeroPaneles_605* 600)/12000);
  
        // CALCULO DE BATERIAS
        // Baterías de Gel
        const voltaje_baterias_gel = 12;
        const capacidad_bateria_gel = Math.ceil((consumo/voltaje_baterias_gel)/0.5);
        const cantidad_bateriasg_100 = Math.ceil(capacidad_bateria_gel/100);
        const cantidad_bateriasg_150 = Math.ceil(capacidad_bateria_gel/150);
        const cantidad_bateriasg_200 = Math.ceil(capacidad_bateria_gel/200);
        const cantidad_bateriasg_250 = Math.ceil(capacidad_bateria_gel/250);
  
        // Baterías de Litio
        const voltaje_baterias_litio = 24;
        const capacidad_bateria_litio = Math.ceil(((consumo/voltaje_baterias_gel)*0.9)*12)
        const cantidad_bateriasl_60 = Math.ceil(capacidad_bateria_gel/60);
        const cantidad_bateriasl_100 = Math.ceil(capacidad_bateria_gel/100);
        const cantidad_bateriasl_120 = Math.ceil(capacidad_bateria_gel/120);
        const cantidad_bateriasl_150 = Math.ceil(capacidad_bateria_gel/150);
        const cantidad_bateriasl_200 = Math.ceil(capacidad_bateria_gel/200);
  
        // RIELES 4.7 Metros
        const longitud_riel = 4.7;
        const numeroRieles_400_47 = Math.ceil(((numeroPaneles_400*1,15)/longitud_riel)*2);
        const numeroRieles_585_47 = Math.ceil(((numeroPaneles_585*1,15)/longitud_riel)*2);
        const numeroRieles_605_47 = Math.ceil(((numeroPaneles_605*1,15)/longitud_riel)*2);;
  
        // RIELES 4.8 Metros
        const longitud_riel_8 = 4.8;
        const numeroRieles_400 = Math.ceil(((numeroPaneles_400*1,15)/longitud_riel_8)*2);
        const numeroRieles_585 = Math.ceil(((numeroPaneles_585*1,15)/longitud_riel_8)*2);
        const numeroRieles_605 = Math.ceil(((numeroPaneles_605*1,15)/longitud_riel_8)*2);;
  
        // MIDCLAND
        const numeroMidCland_400 = Math.ceil(numeroPaneles_400*2)-2;
        const numeroMidCland_585 = Math.ceil(numeroPaneles_585*2)-2;
        const numeroMidCland_605 = Math.ceil(numeroPaneles_605*2)-2;
  
        // END-CLAND
        const numeroEndCland_400 = Math.ceil(numeroPaneles_400/2);
        const numeroEndCland_585 = Math.ceil(numeroPaneles_585/2);
        const numeroEndCland_605 = Math.ceil(numeroPaneles_605/2);
  
          if (area < areaRequerida_400) {
            mensajeResultado.innerHTML = `El área disponible es insuficiente. Se requieren al menos ${areaRequerida_400} m².`;
          } else {
            mensajeResultado.innerHTML = `
            <div id="tabla-resultado">
              <div class='iconos-texto'>
                  <div class='iconos_resultado'>
                      <img src="./img/portada calculadora.jpg" width="300px" height="500px" style="border-radius: 8px;">
                  </div>
                  <div class='text-resultado'>
                      <h4 class="ahorroAnual"><b>Valor total del proyecto:</b></h4>
                      <h3 class="respuesta">${costoProyectoFormateado}.</h3>
                      <h4 class="ahorroAnual"><b>Ahorro anual:</b></h4>
                      <h3 class="respuesta">${ahorroAnualFormateado} /año.</h3>
                      <h4 class="ahorroMensual"><b>Ahorro mensual promedio:</b></h4>
                      <h3 class="respuesta">${ahorroMensual} mensual.</h3>
                      <h4 class="ahorroMensual"><b>Área mínima requerida:</b></h4>
                      <h3 class="respuesta">${areaRequerida_400} m²</h3>
                      <p style="font-weight: bold;">Beneficios tributarios:<br>Descuenta hasta ${disminucionRenta} de tu declaración de renta líquida.
                          <br>Deprecia hasta el 100% del valor total del proyecto en 3 años aproximadamente.</p>
                  </div>
              </div>
              
              <table class="styled-table">
                  <thead>
                      <tr>
                          <th>TIPO DE PANEL SOLAR:</th>
                          <th>400W</th>
                          <th>585W</th>
                          <th>605W</th>
                          <th>EQUIPOS DISPONIBLES:</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="highlight">Área mínima requerida por tipo de panel es:</td>
                          <td>${areaRequerida_400} m²</td>
                          <td>${areaRequerida_585} m²</td>
                          <td>${areaRequerida_605} m²</td>
                          <td>El área de tu proyecto se ajusta a lo que necesitas.</td>
                      </tr>
                      <tr>
                          <td class="highlight">PANELES SOLARES - El número de paneles necesarios para tu proyecto es:</td>
                          <td>${numeroPaneles_400} paneles de 400W</td>
                          <td>${numeroPaneles_585} paneles de 585W</td>
                          <td>${numeroPaneles_605} paneles de 605W</td>
                          <td><a href="https://www.ferragro.com/collections/paneles-solares">Click Aquí para ver nuestros paneles</a></td>
                      </tr>
                      <tr>
                          <td class="highlight">INVERSORES - El número de inversores necesarios para tu proyecto es:</td>
                          <td>${numeroInversores_3500} inversores de 3.500W</td>
                          <td>${numeroInversores_6000} inversores de 6.000W</td>
                          <td>${numeroInversores_12000} inversores de 12.000W</td>
                          <td><a href="https://www.ferragro.com/collections/inversores">Click Aquí para ver nuestros inversores</a></td>
                      </tr>
                  </tbody>
              </table>
  
              <table border="1" cellspacing="0" cellpadding="10" style="width: 100%; text-align: center;">
                  <thead>
                      <tr>
                          <th colspan="3" style="background-color: #2E7D32; color: white;">BATERIAS GEL (12V)</th>
                      </tr>
                      <tr>
                          <th>CAPACIDAD BATERÍA AH</th>
                          <th>BATERIAS DE GEL NECESARIAS</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>100</td>
                          <td>${cantidad_bateriasg_100}</td>
                      </tr>
                      <tr>
                          <td>150</td>
                          <td>${cantidad_bateriasg_150}</td>
                      </tr>
                      <tr>
                          <td>200</td>
                          <td>${cantidad_bateriasg_200}</td>
                      </tr>
                      <tr>
                          <td>250</td>
                          <td>${cantidad_bateriasg_250}</td>
                      </tr>
                  </tbody>
              </table>
  
              <table border="1" cellspacing="0" cellpadding="10" style="width: 100%; text-align: center;">
                  <thead>
                      <tr>
                          <th colspan="3" style="background-color: #2E7D32; color: white;">BATERIAS LITIO (48V)</th>
                      </tr>
                      <tr>
                          <th>CAPACIDAD BATERÍA W</th>
                          <th>BATERIAS DE LITIO NECESARIAS</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>60</td>
                          <td>${cantidad_bateriasl_60}</td>
                      </tr>
                      <tr>
                          <td>120</td>
                          <td>${cantidad_bateriasl_120}</td>
                      </tr>
                      <tr>
                          <td>150</td>
                          <td>${cantidad_bateriasl_150}</td>
                      </tr>
                      <tr>
                          <td>200</td>
                          <td>${cantidad_bateriasl_200}</td>
                      </tr>
                  </tbody>
              </table>
  
              <p style="text-align: center; margin-top: 10px;">
                  <a href='https://www.ferragro.com/collections/baterias'>Click Aquí para ver nuestras baterías</a>
              </p>
              
              <table class="estructura-table">
                  <thead>
                      <tr>
                          <th>ESTRUCTURA</th>
                          <th>400</th>
                          <th>585</th>
                          <th>605</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>RIELES (4.7m)</td>
                          <td>${numeroRieles_400_47}</td>
                          <td>${numeroRieles_585_47}</td>
                          <td>${numeroRieles_605_47}</td>
                      </tr>
                      <tr>
                          <td>RIELES (4.8m)</td>
                          <td>${numeroRieles_400}</td>
                          <td>${numeroRieles_585}</td>
                          <td>${numeroRieles_605}</td>
                      </tr>
                      <tr>
                          <td>MID-CLAND</td>
                          <td>${numeroMidCland_400}</td>
                          <td>${numeroMidCland_585}</td>
                          <td>${numeroMidCland_605}</td>
                      </tr>
                      <tr>
                          <td>END-CLAND</td>
                          <td>${numeroEndCland_400}</td>
                          <td>${numeroEndCland_585}</td>
                          <td>${numeroEndCland_605}</td>
                      </tr>
                  </tbody>
              </table>
              <p style="text-align: center; margin-top: 10px;">
                  <a href='https://www.ferragro.com/collections/estructura-paneles-solares'>Click Aquí para ver nuestras Estructuras</a>
              </p>
          </div>
          <button id="descargar-pdf">Descargar PDF</button>`;
          }
  
          // Mostrar el resultado
          resultadoDiv.style.display = 'block';
        });
      });
  
      // Función para generar el PDF
      document.getElementById("descargar-pdf").addEventListener("click", function () {
              const element = document.getElementById("content-to-pdf"); // Selecciona el contenido a convertir
              const options = {
                  margin: 1, // Margen del PDF
                  filename: 'Reporte_Energia_Solar.pdf', // Nombre del archivo PDF
                  image: { type: 'jpeg', quality: 0.98 }, // Calidad de imagen
                  html2canvas: { scale: 2 }, // Resolución del canvas
                  jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' } // Configuración del PDF
              };
  
              // Generar y descargar el PDF
              html2pdf().set(options).from(element).save();
          });
    </script>
  </body>